@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&family=Playfair+Display&display=swap');


* {
    font-family: 'Instrument Sans', Arial, Helvetica, sans-serif;
}

:root {
    --main-color-1: white;
    --main-color-1-rgba: rgba(255, 255, 255, .75);
    --main-color-2: #2E2B40;
    --accent-color-1: #C68335;
}

body {
    height: 100%;
    margin: auto;
    padding: 2%;
    width: 80%;
    background-image: url("../images/small/background-small.jpg");
}

header, footer {
    background-color: var(--main-color-2);
    color: white;
}

footer {
    height: 15%;
    padding: 1vw;
}

footer img {
    float: left;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display','Times New Roman', Times, serif;
}

h1 {    
    margin: auto;
    text-align: center;
}

header {
    display: flex;
    flex-wrap: wrap;
    height: 15%;
    justify-content: center;
    margin: auto;
    width: 100%;
}

main {
    height: 100%;
    background-color: var(--main-color-1-rgba);
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#hamburgerBtn {
    background-color: rgb(204, 204, 204);
    border: none;
    font-size: 2em;
    margin: auto;
    width: 50px;
}

nav ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav ul.open {
    display: block;
}

nav ul li {
    width: 100%;
    text-align: center;
}

nav ul li a {
    border-top: 1px solid #c68335;;
    color: white;
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
}

nav ul li.active a {
    background-color: #c68335;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,.5);
}


/* .event {

} */

#banner {
    background-color: var(--accent-color-1);
    border: 1px solid black;
    display: none;
    text-align: center;
    width: 100%;
}

.footer-text {
    text-align: center;
}

.header-and-date {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-and-date em {
    font-size: 1.5em;
}

.hero img {
    width: 80%;
}

.join {
    display: none;
}

.logo {
    max-width: 175px;
    width: 100%;
}

.logo-link {
    height: 50%;
    text-align: center;
    text-decoration: none;
    width: 25%;
}

.logo-link img {
    max-width: 200px;
    width: 100%;
}

.news img {
    width: 50%;
}

.p-inline {
    display: inline;
}

.placeholder {
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    justify-items: center;
    height: 12%;
    margin: 2%;
    padding: 50px;
    text-align: center;
}

.social-media-link  {
    min-width: 40px;
    max-width: 75px;
    padding: 4%;
    width: 30%;
}

.social-media-link img {
    min-width: 40px;
    max-width: 75px;
    width: 100%;
}

.social-media-links-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 20%;
}

.spotlight-1, .spotlight-2 {
    border: 1px solid black;
    height: auto;
    margin: 10%;
    padding: 1vw;
    width: 80%;
}

.spotlight-1 img, .spotlight-2 img {
    width: 80%;
}

.spotlight-2 {
    display: none;
}

.spotlight-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    align-items: center;
    border: 1px solid black;
    background-color:  rgba(255, 255, 255, .4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1%;
    padding: 3%;
    text-align: center;
}

.tile:hover {
    border-radius: 5px;
    box-shadow: 0 0 50px 15px var(--accent-color-1);
}


/* .weather {

} */

.weather img {
    width: 75%;
}

#todays-date {
    padding: 1vw;
}