@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

h1, h2, h3 {
    font-family: Noto Sans, Calibri, sans-serif;
}

body {
    width: 80%;
    padding: 5%;
    background-color: rgb(255, 255, 2545);
}

header, footer {
    display: flex;
    border-style: solid;
    border-color: black;
    background-color: rgb(194, 255, 226);
    align-items: center;
}

footer {
    display: block;
    text-align: center;
}

header div, img {
    flex-direction: row;
    text-align: center;
    align-items: center;
}

header img {
    width: 25%;
    height: 100%;
    display: flex;
}

header h1 {
    margin: 2%;
}